<%= simple_form_for @retailer do |r| %>
  <%= r.input :code %>
  <%= r.input :label %>
  <%= r.association :country, collection: @selectable_countries.order(:label),:label_method => lambda { |country| "#{country.code} - #{country.label}"},input_html: { class: 'retailer-country-select' } %>
  <%= r.input :active %>
  <%= r.input :description, as: :text %>
  <%= r.input :photo, as: :attachinary %>
  <div class="buttons-down-form">
    <%= r.button :submit, "Validate", class: "btn validate" %> 
    <button class="btn">
      <%= link_to "Back", retailers_path, class: " navbar-wagon-item navbar-wagon-link" %>
    </button>
  </div>
<% end %>
