<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Create your telex </h1>
      <%= simple_form_for @telex do |t| %>
        <%= t.input :code %>
        <%= t.input :title %>
        <%= t.input :description %>
        <%= t.input :end_validity %>
        <%= t.input :active %>
        <%= t.button :submit %>
      <% end %>
    </div>
  </div>
</div>
