<!-- <div class="search-width">
  <form class="form-inline">
    <div class="form-group" class="spacing-search">
      <label for="countrySearch" class="space-between-label-input">Country</label>
      <input type="search" class="form-control" id="countrySearch" placeholder="EUR - Europe" maxlength="50" size="50">
    </div>
    <div class="form-group"class="spacing-search">
      <label for="countryActive" class="space-between-label-input">Active</label>
      <input type="checkbox" class="form-control" id="countryActive">
    </div>
    <%= link_to countries_path do %>
      <button type="submit" class="btn btn-primary spacing-search">Search</button>
    <% end %>
    <%= link_to new_country_path do %>
      <button type="button" name="New" class="btn action spacing-search">New</button>
    <% end %>
  </form>
</div> -->

<div class="search-width">
  <%= form_tag countries_path, class: "form-inline" do %>
    <div class="form-group" class="spacing-search">
       <%= text_field_tag :search, params[:search] %>
    </div>
    <div class="form-group" class="spacing-search">
      <%= submit_tag "Search", :name => nil, class:"btn spacing-search"  %>
    </div>
    <%= link_to new_country_path do %>
      <button type="button" name="New" class="btn action spacing-search">New</button>
    <% end %>
  <% end %>
</div>
