<div class="work-area">
    <h2>Countries</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

          <% @countries.each do |country|  %>

          <div class="product">
            <% if country.photo? %>
              <!-- Decalre the link to retrieve the photo -->
              <%= cl_image_tag(country.photo.path, height: 117, width: 175, crop: :fill, class: 'product-image' ) %>
            <% else %>
              <img src="http://unsplash.it/300/200" alt="substitute" class="product-image hidden-xs">
            <% end %>
            <div class='product-body'>
              <h3> <%= country.code %>  </h3>
              <h3> <%= country.label %> </h3>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li>
                <%= link_to edit_country_path(country) do %>
                  <i class="fa fa-pencil"> </i>
                <% end %>
              </li>
              <li>
                <%= link_to country_path(country), method: :delete do %>
                  <i class="fa fa-trash"> </i>
                <% end %>
              </li>
            </ul>
            </div>
          <% end %>
          <div class="button-area">
            <%= link_to new_country_path do %>
              <button type="button" name="New" class="btn action">New</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
