<div class="work-area">
  <h2>View country </h2>
  <div class="search-area">

  </div>
  <div class="small-form-area">
    <% if @country.photo? %>
      <%= cl_image_tag @country.photo.path %>
    <% end %>
    <%= simple_form_for @country do |c| %>
      <%= c.input :code %>
      <%= c.input :label %>
      <%= c.input :active %>
    <% end %>
  </div>
</div>
