<%= simple_form_for @category do |c| %>
	<% if @category.master == true%>
  		<%= c.input :code, input_html: {:maxlength => 6 }%>
  		<%= c.input :label, input_html: { maxlength: 40 } %>
  		<%= c.input :active %>
  		<%= c.input :master %>
  		<%= c.association :category, label:'Master',collection:@masters,:readonly => false, :label_method => lambda { |category| "#{category.code} - #{category.label}" },include_blank: false,input_html: { class: 'countries-select' } %>
  	<% else %>

  	<% end %>
  <%= c.input :description, as: :text ,input_html: { maxlength: 255 } %>
  <% if @category.photo %>
    <%= cl_image_tag(@category.photo.path, height: 117, width: 175, crop: :fill, class: 'product-image') %>
  <%else %>
    <%= c.input :photo, as: :attachinary %>
  <% end %>
  <div class="buttons-down-form">
    <%= c.button :submit, "Validate", class: "btn validate" %> 
    <button class="btn">
      <%= link_to "Back", categories_path, class: " navbar-wagon-item navbar-wagon-link" %>
    </button>
  </div>
<% end %>
