<%= simple_form_for @category do |c| %>
  <% if @category.master == true %>
    <%= c.input :code, input_html: {:maxlength => 10 },:readonly => true%>
    <%= c.input :label, input_html: { maxlength: 50 },:readonly => true %>
    <%= c.input :active, :disabled => true%>
    <%= c.input :master, :disabled => true%>
  <% else %>
    <%= c.input :code, input_html: {:maxlength => 10 },:readonly => true%>
    <%= c.input :label, input_html: { maxlength: 50 } %>
    <%= c.input :active, :disabled => false%>
    <%= c.association :category,label:'Master',collection:@masters,:readonly => false, :label_method => lambda { |category| "#{category.code} - #{category.label}" },include_blank: true,input_html: { id: "country-select-for-master",class: 'items-select' } %>
  <% end %>  
  <%= c.input :description, as: :text ,input_html: { maxlength: 255 } %>
  <% if @category.photo %>
    <%= cl_image_tag(@category.photo.path, height: 117, width: 175, crop: :fill, class: 'product-image') %>
  <%else %>
    <%= c.input :photo, as: :attachinary %>
  <% end %>
  <div class="buttons-down-form">
    <%= c.button :submit, "Validate", class: "btn validate" %> 
    <button class="btn">
      <%= link_to "Back", categories_path, class: " navbar-wagon-item navbar-wagon-link" %>
    </button>
  </div>
<% end %>
