<% if @regionals.length != 0 %>
  <% @regionals.each do |regional|  %>
    <div class="product">
      <div class='product-body'>
        <h3> <%= regional.code %> <%= regional.label %> </h3>
        <div>Active:
          <% if regional.active == true%>
              <i class="fa fa-check-square-o checked" aria-hidden="true"></i>
          <% end %>
        </div>
        <div>
            National central: <%= regional.national.label %>
            Retailer : <%= regional.national.retailer.label %>
        </div>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li>
          <%= link_to edit_regional_path(regional) do %>
            <i class="fa fa-pencil"> </i>
          <% end %>
        </li>
        <li>
          <%= link_to regional_path(regional), method: :delete do %>
            <i class="fa fa-trash"> </i>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
<% else %>
  <!--Message is displayed if the list is empty -->
  <%= render "components/no-result-found" %>
<% end %>